# Copiar a .env y cambiar TODAS las contraseñas
POSTGRES_DB=calidad_agua
POSTGRES_USER=agua_admin
POSTGRES_PASSWORD=cambiar_esto
GRAFANA_DB_PASSWORD=cambiar_esto_tambien
GRAFANA_ADMIN_PASSWORD=cambiar_esto_tambien

# Broker MQTT de la Raspberry (listener autenticado)
MQTT_HOST=192.168.50.1
MQTT_PORT=1884
MQTT_USER=ingestor
MQTT_PASSWORD=cambiar_esto
MQTT_TOPIC=application/+/device/+/event/up
